    
    .navbar {
        background-color: #333;
        font-family: Arial;
        max-height: 25px;

    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        animation: left-to-right 6s infinite;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    .card2 {

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        animation: rotate 6s infinite;
        animation-play-state: paused;
    }

    .card:hover,
    .card2:hover,
    .card3:hover {
        animation-play-state: running;
    }

    .card:not(:hover),
    .card2:not(:hover),
    .card3:not(:hover) {
        animation: reset-card 6s backwards;
    }


    .card3 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        animation: right-to-left 6s infinite;
        animation-play-state: paused;
        position: relative;
    }


    .card4,
    .card5 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;

    }

    .title {
        color: grey;
        font-size: 18px;
    }


    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    .card,
    .card2,
    .card3,
    .card4,
    .card5 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    .navbar2 {
        background-color: #333;
        font-family: Arial;
        color: antiquewhite;
        overflow: hidden;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;

    }
    .login-form {
        display: none;
        position: absolute;
        margin: auto;
        left: 600px;
        padding: 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


    @media only screen and (min-width: 768) {

        .card,
        .card2,
        .card3 {
            width: 100%;
            min-width: 0px;
        }

    }

    @keyframes rotate {
        0% {
            transform: rotateX(0);
        }

        33.3% {
            transform: rotateZ(180deg);
        }

        66.6% {
            transform: rotateY(90deg) rotateZ(180deg);
        }

        100% {
            transform: rotateX(180deg) rotateY(270deg) rotateZ(180deg);
        }
    }

    @keyframes left-to-right {
        0% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 200px;
            top: 0px;
        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    @keyframes right-to-left {
        0% {
            right: 0%;
        }

        50% {
            right: 100%;
        }

        100% {
            right: 0%;
        }
    }